<article class="hub-modal-success-wrapper">
  <div class="lf-modal-body">
    <h1>{{ title }}</h1>
    <p>{{ body }}</p>
    <button class="lf-btn lf-btn-default">{{ btn }}</button>
  </div>
</article>
