.lf-btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 500;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 7px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 2px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}

.hub-input-btn {
    width: 180px;
    height: 40px;
}

.hub-upload-btn, .hub-comment-btn, .hub-comment .editor-post-btn,
    .lf .lf-btn-info {
    color: #ffffff;
    background-color: #0f98ec;
    border-color: #0a6aa4;
}

.hub-upload-btn .fycon-composer-photo {
    /*font-size: 1.3em;*/
    padding: 2px;
}

.hub-upload {
    min-width:560px;
    min-height:432px;
}

.lf button {
    -webkit-appearance: button;
    cursor: pointer;
    text-transform: none;
    margin: 0;
}

body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.428571429;
}

button {
    align-items: flex-start;
    text-align: center;
    cursor: default;
    color: buttontext;
    padding: 2px 6px 3px;
    border: 2px outset buttonface;
    border-image-source: initial;
    border-image-slice: initial;
    border-image-width: initial;
    border-image-outset: initial;
    border-image-repeat: initial;
    background-color: buttonface;
    box-sizing: border-box;
    margin: 0em;
    font: -webkit-small-control;
    color: initial;
    letter-spacing: normal;
    word-spacing: normal;
    text-transform: none;
    text-indent: 0px;
    text-shadow: none;
    display: inline-block;
    text-align: start;
}

.editor-field {
    resize: none;/* For Chrome */
    font-family: georgia;
    font-size: 15px;
    color: #4c4c4c;
    min-height: 44px;
    max-height: 200px;
    overflow: auto;
    padding: 0 30px;
    line-height: 28px;
}

.placeholder {
    color: #aaa;
}

.lf * {
    box-sizing: border-box;
}

.hub-modal-input-wrapper {
    position: relative;
    color: #2f3440;
    background-color: #ffffff;
    border: 0;
    -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 3px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    background-clip: padding-box;
    outline: none;
    text-align: center;
    -webkit-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -ms-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    -o-box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    box-sizing: border-box;
    display: block;
}

.hub-modal-input-header {
    padding: 15px;
    background-color: #f7f7f5;
    border-bottom: 1px solid #ececea;
    min-height: 16.428571429px;
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
}

.hub-comment{
    position: relative;
    text-align: center;
    border: 1px solid #ececea;
    text-align: left;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    -ms-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    -o-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}

.hub-comment .btn-wrapper {
    background-color: #f8f8f8;
    text-align: right;
    border-top: 1px solid #ececea;
    padding: 6px;
    margin-top: 20px;
}

.hub-comment .user-info {
    margin: 26px 30px 20px;
    font-weight: bold;
    color: #474C52;
}

.hub-comment .editor-container {
    margin: 20px 0;
    margin: 0;
/* !lf-bootstrap */
    display: block;
}

.hub-modal-content-view iframe, .hub-modal-content-view article {
    position: relative;
    margin: 50px auto 0;
    display: block;
    border: 0;
}
